@import "tailwindcss";
@source "./index.html", "./src/**/*.{js,jsx,ts,tsx}";

@theme {
  --color-primary: #3F2965;
  --color-accent: #DD1764;
}

@layer base {
  * {
    scroll-behavior: smooth;
  }

  body {
    background-color: white;
    color: rgb(17 24 39);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
